-- Active: 1778304958658@@127.0.0.1@5432@prisma
//// Use npx prisma studio to view the database in a web interface

DATABASE_URL="postgresql://user:password@localhost:port/database"

JWT_SECRET="ED6C37945CEAB5650F6D87DF05DEFE97F119FAAE"

PORT=5000